body {
  text-align: center;
}

#my-canvas {
  border: 1px solid black;
}

button {
  border-radius: 5px;
  border-color: rgb(177, 177, 177);
  background-color: black;
  color: white;
  font-size: large;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}